---
import MainLayout from "../layouts/MainLayout.astro";
---


<MainLayout>
    <body>
        <div class="aboutme">
            <span>
                Hello &#128075;&#127995;, I'm miller. Born and raised in the midwest, 
                computers were the first thing I loved. As a boy I played video games and
                took as many computer classes as I could. Through highschool I found programming
                to be extremely difficult but rewarding. Sticking with it through college, now
                I program for a living.
            </span>
            <br />
            <br />
            <span>
                Working in groups and a fast paced environment is something I'm always looking for.
                Reach out to me via my <a href="https://www.linkedin.com/in/~miller">LinkedIn</a>
                or my <a href="mailto:millerzbath@gmail.com">email</a>.
            </span>
            <br />
            <br />
            <span>
                Below is an image of my two favorite things.
                <br />
                <br />
            </span>
            <img src="/images/kaitlinAndChase.jpeg">
        </div>
        
    </body>
</MainLayout>

<style>
    .aboutme {
        margin-top: .8em;
        font-size: 1.1em;
    }
    a {
        font-size: 1em;
        text-decoration:underline;
    }

    img {
        flex: 50%;
    }
</style>