---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <div class="page-content">
    <div class="aboutme">
      <span>
        Hello &#128075;&#127995;, I'm Miller. Born and raised in the midwest,
        I've been using & building computers since I was a kid. In highschool I
        enrolled in my first programming class making simple websites, and I was
        hooked. Enrolling in the University of Kansas, I didn't know what a
        Software Engineer was or if that was something I could or want to do.
      </span>
      <br />
      <br />
      <span>
        Working in groups and a fast paced environment is something I'm always
        looking for. Reach out to me via my <a
          href="https://www.linkedin.com/in/~miller">LinkedIn</a
        >
        or my <a href="mailto:millerzbath@gmail.com">email</a>.
      </span>
      <br />
      <br />
      <span>
        Below is an image of my two favorite things.
        <br />
        <br />
      </span>
      <img src="/images/kaitlinAndChase.jpeg" />
    </div>
  </div>
</MainLayout>

<style>
  a {
    font-size: 1em;
    text-decoration: underline;
  }

  img {
    flex: 50%;
  }
</style>
