---
import MainLayout from "../layouts/MainLayout.astro";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="icon" href="favicon.png" type="image/png" />
		<title>mzb.dev | Software Engineer</title>
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-6HY8ZYWHXV"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
	
		gtag('config', 'G-6HY8ZYWHXV');
		</script>
	</head>
</html>

<MainLayout />