---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <div class="page-content">
    <div class="aboutme">
      <span>
        Hello &#128075;&#127995;, I'm Miller. Born and raised in the midwest,
        I've been using & building computers since I was a kid. Enrolling in my
        first programming class in highschool with Al Miner, he gave me the
        ability to see how computers can make my ideas come to life.

        <br />
        <br />

        I graduated and went to the University of Kansas, not knowing what a
        Software Engineer was or what I was going to do with my life. I started
        with my core credits by taking any class I found compelling. Film,
        Sociology(<a
          href="https://scholar.google.com/citations?user=LxAnxXoAAAAJ&hl=en"
          >William G. Staples</a
        >), Philsophy, Photography (<a href="https://www.mikesinclair.com/"
          >Mike Sinclair</a
        >, whom I have great respect for), and Geology all of which I look back
        on fondly. As time progressed, I needed to decide on a major.

        <br />
        <br />

        In my second year, I googled "programming job security" and saw that it
        was a growing industry. With that, I enrolled in all my basic Computer
        Science classes for the next semster. They were extremely challenging,
        and I came very close to abandoning the program. The first day of the
        Engineering seminar class <a
          href="https://www.linkedin.com/in/clayton-beabout/">Clay Beabout</a
        > sat down next to me and introduced himself. We quickly became friends and
        stuck by each others side throughout our degree. I credit to both him and
        <a href="https://www.linkedin.com/in/kaitlin-o-brien-350a1a158/"
          >Kaitlin O'Brien</a
        > for keeping me from dropping out of the CS program.

        <br />
        <br />

        I joined the Association for Computing Machinery at KU and found myself
        motivated enough to participate in building a community of engineers and
        nerds. For the first time in a while, I felt that I was where I was
        supposed to be.

        <br />
        <br />

        Unbeknownst to me, the decisions I made in those few short months would
        go on to shape, what feels like to me, the rest of my life.

        <br />
        <br />

        I met <a
          href="https://scholar.google.com/citations?user=LxAnxXoAAAAJ&hl=en"
          >Phillip Swope</a
        > at a KU recruiting fair in late 2019, a recruiter for PayIt. I asked if
        I could message him after graduation about a full time position, to which
        he said "sure". When that time came in the Winter of 2020, I interviewed
        and joined PayIt, where I still work today.

        <br />
        <br />

        My first four years at PayIt were spent fixing critical production
        issues, leading client-facing incidents, ideating and implementing
        internal tooling, and helping mentor and hire interns. Currently I'm
        working as a Software Engineer on the Outdoor Production Response team,
        rapidly identifying and resolving production issues for our clients to
        maintain go-live schedules.
      </span>
    </div>
  </div>

  <style>
    .aboutme {
      font-size: 1.2em;
    }

    img {
      flex: 50%;
    }
  </style>
</MainLayout>
