---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
    <div class="page-content">
    <div class="workbox">
        <div class="job">
            <span>PayIt, Software Engineer</span><br />
            <span>Maintenance - Java, Javascript, Clojure</span>
        </div>
        <br />
        <div class="job">
            <span>PayIt, Associate Software Engineer</span><br />
            <span>Maintenance - Java, Javascript, Clojure</span>
        </div>
        <br />
        <div class="job">
            <span>qTrade, Software Intern</span><br />
            <span>Crypto data archive - Go</span>
        </div>
        <br />
        <div class="job">
            <span>Vizio, Software Intern</span><br />
            <span>Voice search - Python</span>
        </div>
        <br />
        <div class="job">
            <span>Cerner, Software Intern</span><br />
            <span>Population Health - Ruby, Javascript</span>
            </div>
        </div>
    </div>
</MainLayout>