---
import MainLayout from "../layouts/MainLayout.astro";
---


<MainLayout>
    <body>
        <div class="workbox">
            <span>PayIt, Software Engineer</span>
            <p>Maintenance - Java, Javascript, Clojure</p>
        </div>
        
    </body>
</MainLayout>

<style>
    .workbox {

    }
</style>