---
import MainLayout from "../layouts/MainLayout.astro";
---


<MainLayout>
    <head>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-6HY8ZYWHXV"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-6HY8ZYWHXV');
        </script>
    </head>
    <body>
        <div class="workbox">
            <div class="job">
                <span>PayIt, Software Engineer</span><br />
                <span>Maintenance - Java, Javascript, Clojure</span>
            </div>
            <br />
            <div class="job">
                <span>PayIt, Associate Software Engineer</span><br />
                <span>Maintenance - Java, Javascript, Clojure</span>
            </div>
            <br />
            <div class="job">
                <span>qTrade, Software Intern</span><br />
                <span>Crypto data archive - Go</span>
            </div>
            <br />
            <div class="job">
                <span>Vizio, Software Intern</span><br />
                <span>Voice search - Python</span>
            </div>
            <br />
            <div class="job">
                <span>Cerner, Software Intern</span><br />
                <span>Population Health - Ruby, Javascript</span>
            </div>
        </div>
        
    </body>
</MainLayout>

<style>
    .workbox {
        margin-top: .8em;
        font-size: 1.1em;
    }
</style>