---
---

<a href="/">Home</a>
<a href="/about">About</a>
<a href="/work">Work</a>



<style>
    a, a:focus, a:active {
        text-decoration: none;
        color: inherit;
        font-size: 1.5em;
        padding: .1em;
    }
    a:hover {
        color:orange
    }
</style>