---
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>mzb.dev | Software Engineer</title>
	</head>
	<body>
		<h1><a href="/">Miller Bath</a></h1>
		<h2> Software Engineer</h2>
		<h2> Kansas City</h2>

		<br>
		<br>
		<br>
		<br>


		<ul>
			<li><a class="subLinks">Work</a></li>
			<li><a class="subLinks">About</a></li>
			<li><a class="subLinks">Github</a></li>
			<li><a class="subLinks">LinkedIn</a></li>
			<li><a class="subLinks">Resume</a></li>
		</ul>
		

		
	</body>
</html>
