---
import '../styles/global.css';
---
<head>
	<link rel="shortcut icon" href="../../public/favicon.ico" type="image/x-icon">
	<link rel="icon" href="../../public/favicon.png" sizes="any" type="image/png"/>
	<title>mzb.dev | Software Engineer</title>
</head>
<main>
	<div class="container">
		<div class="sb-l"></div>

		<div class="middle">
			<a class="name" href="/">Miller Bath</a>
			<div class="subheading">
				<a id="subitem">Software Engineer</a><br />
				<a id="subitem">Kansas City</a>
			</div>

			<br />
			<br />
			<br />
			<br />

			<a href="/work">Work</a><br />
			<a>About</a><br />
			<a>Resume</a><br />
			<a href="https://www.linkedin.com/in/~miller">LinkedIn</a><br />

		</div>

		<div class="sb-r" id="content">
			<slot />
		</div>
	</div>
</main>

<style>

</style>