---
import { ClientRouter } from 'astro:transitions';
import '../styles/global.css';

const pathname = Astro.url.pathname;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="favicon.png" type="image/png" />
		<title>mzb.dev</title>
		<ClientRouter />
	</head>
	<body>
		<div class="layout-container">
			<nav class="fixed-nav">
				<a class="name" href="/">Miller Bath</a>
				<div class="subheading">
					<div>Software Engineer</div>
					<div>Kansas City</div>
				</div>
				<div class="nav-links">
					<a href="/work" class:list={['nav-link', { active: pathname === '/work' }]}>Work</a>
					<a href="/about" class:list={['nav-link', { active: pathname === '/about' }]}>About</a>
					<a href="Miller_Bath_Resume_Aug2023.pdf">Resume</a>
					<a href="https://www.linkedin.com/in/~miller">LinkedIn</a>
				</div>
			</nav>
			<main class="content">
				<slot />
			</main>
		</div>
	</body>
</html>